{{#each this}}
<div class="swiper-slide">
    <div class="portfolio-item">
        <h3 class="title">{{this.title}}</h3>

        {{#if this.summary}}
        <p class="summary">{{this.summary}}</p>
        {{/if}}

        {{#if this.description}}
        <p class="description">{{this.description}}</p>
        {{/if}}

        {{#if this.note}}
        <p class="note">{{this.note}}</p>
        {{/if}}

        <div class="links">
            {{#if this.live_url}}
            <a class="live-url" href="{{this.live_url}}" target="_blank">
                <i class="fas fa-gamepad"></i>
            </a>
            {{/if}}

            {{#if this.src_url}}
            {{!-- github --}}
            <a class="src-url" href="{{this.src_url}}" target="_blank"><i class="fab fa-github-alt social-icon"></i></a>
            {{/if}}

            {{#if this.design_url}}
            <a class="design-url" href="{{this.design_url}}" target="_blank">
                <i class="fas fa-palette"></i>
            </a>
            {{/if}}
        </div>

        {{!-- media swiper --}}
        <div class="swiper swiper{{@index}} swiper-nested">
            <div class="swiper-wrapper swiper-wrapper-nested">
                {{#each this.media}}
                <div class="swiper-slide swiper-slide-nested">
                    {{#if this.isVideo}}
                    <video autoplay loop controls>
                        <source src="{{this.path}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {{else}}
                    <img src="{{this.path}}" alt="{{this.alt}}">
                    {{/if}}

                    {{!-- show alt as overlay --}}
                    {{#if this.alt}}
                    <div class="media-overlay">{{this.alt}}</div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div class="swiper-pagination swiper-pagination-nested swiper-pagination-{{@index}}"></div>
        </div>

        <script>
            var swiper = new Swiper('.swiper{{@index}}', {
                spaceBetween: 50,
                pagination: {
                    el: '.swiper-pagination-{{@index}}',
                    dynamicBullets: true,
                    clickable: false,
                },
            });
        </script>
    </div>
</div>
{{/each}}